@import "tailwindcss";

:root {
  --fade-color: #6c7066;
  --darker-fade: hsl(0, 0%, 20%);
  --background-color: hsl(0, 0%, 5%);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  background: var(--background-color);
  color: black;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
select {
  font: inherit;
}

* {
  accent-color: black;
}
